section
  include ./files/quick-access

  //-
    h3
      | フォルダ

    .card.mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-card--expand
        h4.mdl-card__title-text 新規フォルダ

    h3
      | ファイル

    .card.mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-card--expand
        h2.mdl-card__title-text 新規ファイル

  //- .drawer.mdl-layout__drawer.mdl-layout
    .tabs.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .tab-bar.mdl-tabs__tab-bar
        a.tab.mdl-tabs__tab.is-active(href="#tab-detail") 詳細
        a.tab.mdl-tabs__tab(href="#tab-history") 履歴
      |   
      #tab-detail.mdl-tabs__panel.is-active
        | ファイルまたはフォルダを選択すると、詳細が表示されます。
      #tab-history.mdl-tabs__panel
        h4
          | 昨日

        div
          | 日 0:00

          | アイテムを 2 個アップロードしました