extends /_layout/_default-layout

append config-block
  - pageId = 'index'

block content-block
  .layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header(data-name="whole")
    header.header.mdl-layout__header
      include /_partial/header

    main.content.mdl-layout__content
      .column(data-name="menu")
        include /_partial/main/menu

      .column(data-name="files")
        include /_partial/main/files
