/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

html {
  font-size: 100px; }
  html.is-sp html {
    font-size: 13px; }
  html.is-pc html {
    font-size: 13px; }
  html.is-tab html {
    font-size: 13px; }

body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; }
  html.is-sp body {
    font-size: 13px;
    line-height: 1.5; }
  html.is-pc body {
    font-size: 13px;
    line-height: 1.5; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit; }

.header {
  position: relative;
  background-color: white;
  color: black; }
  .header .textfield {
    margin-left: 40px;
    width: calc(100% - 300px); }
    .header .textfield .label {
      text-indent: 10px; }
      .header .textfield .label .material-icons {
        margin-right: 20px;
        color: #333;
        -webkit-transform: translateY(5px);
                transform: translateY(5px); }
    .header .textfield .input {
      height: 50px;
      border-radius: 4px;
      background-color: #eee; }
  .header .navigation {
    width: auto; }
    .header .navigation .link {
      padding: 10px;
      line-height: 20px; }
    .header .navigation .account {
      border-radius: 100%;
      background-color: maroon;
      color: red; }
  .header .header-row {
    padding: 0 20px; }
  .header .file-menu .button {
    width: 100px;
    background-color: #4285f4; }
  .header .file-action {
    margin-left: 100px; }
    .header .file-action .chip {
      background-color: transparent;
      border: none;
      box-shadow: none; }
      .header .file-action .chip .text {
        font-size: 20px; }
      .header .file-action .chip .material-icons {
        -webkit-transform: translateY(10px);
                transform: translateY(10px); }
  .header .control-panel {
    color: #666; }
    .header .control-panel .button + .button {
      margin-left: 10px; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 1200px;
  min-width: 12rem;
  overflow: hidden; }

[data-page-id="index"] .layout[data-name="whole"] .header {
  position: relative;
  background-color: white;
  color: black; }
  [data-page-id="index"] .layout[data-name="whole"] .header .textfield {
    margin-left: 40px;
    width: calc(100% - 300px); }
    [data-page-id="index"] .layout[data-name="whole"] .header .textfield .label {
      text-indent: 10px; }
      [data-page-id="index"] .layout[data-name="whole"] .header .textfield .label .material-icons {
        margin-right: 20px;
        color: #333;
        -webkit-transform: translateY(5px);
                transform: translateY(5px); }
    [data-page-id="index"] .layout[data-name="whole"] .header .textfield .input {
      height: 50px;
      border-radius: 4px;
      background-color: #eee; }
  [data-page-id="index"] .layout[data-name="whole"] .header .navigation {
    width: auto; }
    [data-page-id="index"] .layout[data-name="whole"] .header .navigation .link {
      padding: 10px;
      line-height: 20px; }
    [data-page-id="index"] .layout[data-name="whole"] .header .navigation .account {
      border-radius: 100%;
      background-color: maroon;
      color: red; }
  [data-page-id="index"] .layout[data-name="whole"] .header .header-row {
    padding: 0 20px; }
  [data-page-id="index"] .layout[data-name="whole"] .header .file-menu .button {
    width: 100px;
    background-color: #4285f4; }
  [data-page-id="index"] .layout[data-name="whole"] .header .file-action {
    margin-left: 100px; }
    [data-page-id="index"] .layout[data-name="whole"] .header .file-action .chip {
      background-color: transparent;
      border: none;
      box-shadow: none; }
      [data-page-id="index"] .layout[data-name="whole"] .header .file-action .chip .text {
        font-size: 20px; }
      [data-page-id="index"] .layout[data-name="whole"] .header .file-action .chip .material-icons {
        -webkit-transform: translateY(10px);
                transform: translateY(10px); }
  [data-page-id="index"] .layout[data-name="whole"] .header .control-panel {
    color: #666; }
    [data-page-id="index"] .layout[data-name="whole"] .header .control-panel .button + .button {
      margin-left: 10px; }

[data-page-id="index"] .navigation .link {
  color: gray; }

[data-page-id="index"] .content {
  background-color: #e9e9e9; }

[data-page-id="index"] .grid {
  padding: 0;
  height: 100%; }

[data-page-id="index"] .column {
  margin: 0;
  padding: 0; }
  [data-page-id="index"] .column[data-name="menu"] {
    float: left;
    width: 256px; }
    [data-page-id="index"] .column[data-name="menu"] .list {
      padding: 20px 0; }
      [data-page-id="index"] .column[data-name="menu"] .list .item {
        padding: 0;
        padding-left: 20px;
        min-height: 40px; }
        [data-page-id="index"] .column[data-name="menu"] .list .item .item-primary-content {
          text-indent: 10px;
          font-size: 13px;
          color: gray; }
  [data-page-id="index"] .column[data-name="files"] {
    float: left;
    width: calc(100% - 256px); }
    [data-page-id="index"] .column[data-name="files"] .heading {
      color: rgba(0, 0, 0, 0.54);
      font-weight: 500;
      margin-left: 22px;
      padding: 8px 0 16px; }
    [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] {
      padding: 20px 0 8px;
      padding-right: 64px; }
      [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .card {
        margin: 7px;
        width: auto; }
        [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .card .title {
          padding: 0;
          height: 94px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat; }
        [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .card .supporting-text {
          padding: 20px;
          padding-left: 16px;
          padding-right: 12px;
          width: 100%;
          font-size: 13px; }
        [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .card .menu {
          top: 78px; }
          [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .card .menu .button {
            min-width: 30px;
            width: 30px;
            height: 30px;
            background-color: white;
            color: #4285f4; }
            [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .card .menu .button .material-icons {
              font-size: 16px; }
      [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .filename {
        font-weight: bold;
        color: black; }
      [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .card-quick-access .description {
        color: rgba(0, 0, 0, 0.54); }
      [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .list {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        height: 100%;
        margin: -5px;
        overflow: hidden; }
      [data-page-id="index"] .column[data-name="files"] .section[data-name="quick-access"] .item {
        -webkit-flex: 1 1 226px;
            -ms-flex: 1 1 226px;
                flex: 1 1 226px;
        min-width: 226px;
        max-width: 226px; }
